*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
 font-size: 65.2%;

}
body  {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:  #F0E68C;
}
footer {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    border: 2px solid black
}

.iconos {
    position: end;
    bottom: 0%;
    padding: 0 50px;
    justify-content: space-around;
    display: flex;
    
}

.iconos > a{
    font-size: 2.5rem;
    padding: 0 10px;
    transition: all 0.3 ease 0s;
    cursor: pointer;
}

.iconos > a:hover {
    color: blue;
    background-color:white;      
}
